apiVersion: apps/v1
kind: Deployment
metadata:
  name: k8-self-heal
  namespace: monitoring
spec:
  replicas: 1
  selector:
    matchLabels:
      app: k8-self-heal
  template:
    metadata:
      labels:
        app: k8-self-heal
        release: monitoring
      annotations:
        sidecar.istio.io/rewriteAppHTTPProbers: "true" 
        #traffic.sidecar.istio.io/excludeInboundPorts: "3000"
        prometheus.io/scrape: "true"
        prometheus.io/path: "/metrics"
        prometheus.io/port: "3000"
    spec:
      containers:
        - name: k8-self-heal
          image: mrigankwastaken/k8-self-heal:latest
          imagePullPolicy: Always
          ports:
            - name: http
              containerPort: 3000
          livenessProbe:
            httpGet:
              path: /healthz
              port: 3000
            initialDelaySeconds: 10
            periodSeconds: 5
            failureThreshold: 3

          readinessProbe:
            httpGet:
              path: /readyz
              port: 3000
            initialDelaySeconds: 5
            periodSeconds: 5

          startupProbe:
            httpGet:
              path: /healthz
              port: 3000
            failureThreshold: 10
            periodSeconds: 3
